.romancarusel{
    width: 50% !important;
    height: 45vh !important;
}
.legend{
    display: none !important;
}
.carousel-status{
    display: none !important;
}
.number{
    border: 1px solid black;
    width: 100px !important;

}
.mainnumber{
    text-align: center;
}
.autorname{
    margin-left: 20px;
}
